
h1
{
	color: red; 
	font-size: 40px;
}
.body_backgorund {
	background-image: url("bg1.jpg");
	background-image: center;
	background-size: cover;
}

#myCanvas{
border-width:10px;
background-color: rgb(6, 100, 100);
border-style:ridge;
}
